.idea
auth/node_modules
orders/node_modules
expiration/node_modules
orders/package-lock.json
tickets/package-lock.json
.DS_Store
infra/.DS_Store
client/node_modules
client/.next
common
tickets/node_modules
nats-test/node_modules
**/package-lock.json